QtProject.conf
baloofileinformationrc
dconf/
dolphinrc
dragonplayerrc
environment.d/
fontconfig/
go/
gtk-3.0/
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
kiorc
mimeapps.list
noctalia/
nwg-look/
obs-studio/
pavucontrol.ini
pulse/
tmux/plugins
qtile/
session/
systemd/
unity3d/
wofi/
xsettingsd/
